*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Commom */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    border: none;
    outline: none;
    min-width: 170px;
    height: 62px;
    background: #5d3bee;

    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.section-link {
    position: relative;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.section-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    height: 2px;
    background: currentColor;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
}

.section-desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.667; /* 166.667% */
}
.section-title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.dots {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.2;
    background: #080415;
    transition: all 0.25s ease;
}

.dot.dot--active,
.dot:hover {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid #5d3bee;
    background: content-box #5d3bee;
    opacity: 1;
    cursor: pointer;
}

/* Header */
.header {
    padding-top: 20px;
    background: #fbfaff;
}

.header__fixed {
    position: sticky;
    top: -10px;
    left: 0;
    z-index: 99;
}

.header__container {
    max-width: 1330px;
    margin: 0 auto;
}

.header__inner,
.footer__inner {
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__gmail,
.footer__gmail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__gmail--icon,
.footer__gmail--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #dbd4fc;
    border-radius: 50%;
}

.header__gmail--icon img,
.footer__gmail--icon img {
    width: 50%;
}

.header__gmail--text,
.footer__gmail--text {
    position: relative;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.header__gmail--text::after,
.footer__gmail--text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #080415;
    left: 0;
    bottom: 4px;
}

.header__logo,
.footer__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.header__list,
.footer__list {
    display: flex;
    column-gap: 43px;
}

.header__link,
.footer__link {
    padding: 38px 0;
    color: #51586a;
    font-size: 1.8rem;
}

/* Hero */
.hero {
    position: relative;
    padding-top: 70px;
    background: #fbfaff;
}

.hero__decor02 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero__decor01 {
    position: absolute;
    left: -200px;
    bottom: 0;
}

.hero__inner {
    align-items: center;
}

.hero__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__img {
    position: relative;
    max-width: 100%;
    z-index: 1;
}

.hero__img--decor1 {
    position: absolute;
    left: -140px;
    bottom: 0;
}

.hero__info {
    position: relative;
    z-index: 1;
    margin-top: 95px;
    max-width: 500px;
    margin-left: auto;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
}

.hero__desc {
    max-width: 370px;
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__socials {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social--text {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.social__list {
    display: flex;
    column-gap: 20px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: 1px solid #e3e1e8;
    border-radius: 50%;
}

/* Client */

.client {
    padding-top: 111px;
    padding-bottom: 75px;
}

.clinet__inner {
    align-items: center;
}

.client__heading {
    position: relative;
    margin-left: 99px;
    max-width: 253px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.2; /* 119.048% */
}

.client__heading::after {
    content: "";
    position: absolute;
    left: -99px;
    top: 22px;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 34px;
    margin-left: auto;
}

.client-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.client__text {
    font-weight: 500;
}

/* Service */
.service {
    padding: 158px 0 140px;
}

.service__top {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__desc {
    max-width: 534px;
    text-align: center;
}

.service__list {
    margin-top: 60px;
}

.service-item {
    background: #fbfaff;
    padding: 32px 43px;
}

.service-item__icon {
    width: 74px;
    height: 74px;
    border: 1px solid #efeef3;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item__img {
    width: 80%;
    object-fit: cover;
}

.service-item__title {
    margin-top: 22px;
}

.service-item__desc {
    margin-top: 15px;
    max-width: 285px;
}

/* Project */
.project {
    padding: 86px 0;
    background: #5d3bee;
}

.project__top {
    align-items: center;
}

.project__heading {
    color: #fff;
}

.project__desc {
    margin-top: 0;
    color: #cec4fa;
}

.project__list {
    margin-top: 70px;
    row-gap: 30px;
}

.project-item {
    position: relative;
    z-index: 2;
    padding: 24px;
    background: #fbfaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item__desc {
    margin-top: 10px;
    max-width: 220px;
    font-size: 1.6rem;
    line-height: 1.44;
}

.project__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.project__link::after {
    bottom: 6px;
    height: 1px;
}

.project__img {
    max-width: 246px;
}

.project__img--decor {
    position: absolute;
    z-index: -1;
    right: -13px;
    bottom: 0;
}

.project__btn {
    background: #fff;
    color: #080415;
}

.project__bottom {
    margin-top: 80px;
    justify-content: center;
}

.project__media {
    overflow: hidden;
}

.project__img {
    transition: transform 0.5s ease;
}

.project__media:hover .project__img {
    transform: scale(1.2);
}

/* About */

.about {
    padding-top: 140px;
}

.about__inner {
    position: relative;
}

.about__top {
    flex-direction: column;
    align-items: center;
}

.about__highlight {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__text {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.about__img--icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.about__desc {
    text-align: center;
    margin-top: 15px;
    max-width: 570px;
}

.about__bottom {
    margin: 70px auto;
}

.about__list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #cecdd0;
    border-bottom: 1px solid #cecdd0;
}

.about-item__title {
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    line-height: 1.36; /* 135.714% */
}

.about-item__desc {
    margin-top: 0;
}

.about__video--wrap {
    position: absolute;
    z-index: 2;
}

.about__video {
    width: 100%;
}

.play-btn {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.play-btn:hover {
    opacity: 0.7;
}
.about__video--intro {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.about__video--intro {
    background-color: #fff;
    color: #51586a;
}

/* Review */

.review {
    position: relative;
    margin-top: 375px;
    background: #fbfafb;
}

.review__inner {
    padding: 473px 0 74px;
}

.review__content {
    overflow: hidden;
}

.review__list {
    flex-wrap: nowrap;
}

.review-item {
    text-align: center;
}

.review__desc {
    max-width: 570px;
    margin: 20px auto 0;
}

.review__testialmonal {
    margin-top: 60px;
    max-width: 679px;
    margin: 60px auto 0;

    color: #51586a;
    font-size: 2.4rem;
    line-height: 1.67; /* 166.667% */
}

.review__row {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.review__img--wrap {
    width: 40px;
    height: 40px;
    background: #f29764;
    border-radius: 50%;
    overflow: hidden;
}

.review__img {
    width: 100%;
    margin-top: 6px;
}

.review__info--name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4; /* 133.333% */
}

.review__info--desc {
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.8; /* 181.25% */
}

.review__decor-01 {
    position: absolute;
    bottom: 0;
    left: -170px;
}

.review__decor-02 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Faq */

.faq {
    padding-top: 95px;
    padding-bottom: 20px;
}

.faq__heading {
    color: #080415;
    max-width: 575px;
}

.faq__list {
    margin-top: 80px;
}

.faq-item {
    overflow: hidden;
    padding: 0 0 12px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #080415;
    transition: border-color ease-in 0.5s;
}

.faq-item + .faq-item {
    margin-top: 60px;
}

.faq-item__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    transition: color ease 0.5s;
}

.faq-item__desc {
    margin-top: 23px;
    max-width: 487px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */

    height: 0;
    visibility: hidden;

    transition: height 0.5s ease, visibility 0.5s ease;
}

.faq-item__btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background: #fff;
    border: 1px solid #d0d1d2;
    border-radius: 50%;

    cursor: pointer;
}

.faq__btn-checked {
    display: none;
}

.faq-item:has(.faq__input:checked) {
    border-color: #5d3bee;
}

.faq__input:checked ~ .faq-item__content .faq-item__title {
    color: #5d3bee;
}

.faq__input:checked ~ .faq-item__content .faq-item__desc {
    height: 65px;
    visibility: visible;
}

.faq__input:checked ~ .faq-item__btn .faq__btn-default {
    display: none;
}

.faq__input:checked ~ .faq-item__btn .faq__btn-checked {
    display: block;
}

.faq__input:checked ~ .faq-item__btn {
    border-color: #5d3bee;
}

/* Gallery */

.gallery {
    padding: 140px 0;
}

.gallery__top {
    max-width: 528px;
    margin: 0 auto;
    text-align: center;
}

.gallery__title {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.gallery__title::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: currentColor;
    left: 0;
    right: 0;
    bottom: 3px;
}

.gallery__bottom {
    margin-top: 70px;
}

.gallery-img {
    width: 100%;
}

/* Contact */
.contact {
    /* padding: 68px 0; */
}

.contact__inner {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 68px 0;
    overflow: hidden;

    background: #fbfaff;
    text-align: center;
}

.contact__desc {
    max-width: 570px;
}

.contact__btn {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 147px;
}

.contact__img--decor01,
.contact__img--decor02,
.contact__img--decor03 {
    position: absolute;
    z-index: -1;
}

.contact__img--decor01 {
    bottom: 0;
    left: 0;
}
.contact__img--decor02 {
    top: 0;
    right: 0;
}

.contact__img--decor03 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    margin-top: 83px;
}

.footer__inner {
    position: relative;
}

.footer__inner::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -59px;
    height: 1px;
    background: #cecdd2;
}

.footer__bottom {
    margin-top: 77px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer__bottom--left {
    color: #525771;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.footer__bottom--right {
    display: flex;
    column-gap: 36px;
}

.footer__policy,
.footer__term {
    color: #525771;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.footer__policy {
    position: relative;
}

.footer__policy::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 18px;
    rotate: 90deg;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: currentColor;
}
